<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/pexels-photo-186077.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Welcome to Quote.li</h1>
            <h3>need to find a closing agent?</h3>
            <br />
            <!-- <button type="button" class="btn btn-outline-neutral btn-round"><a href="../presentation"><i class="fa fa-play"></i>Watch Presentation</a></button> -->
            <button type="button" class="btn btn-outline-neutral btn-round"><a href="../presentation" style="color: white;     font-weight: 600;">Get Best Quotes </a></button>
            <button type="button" class="btn btn-outline-neutral btn-round"><a [routerLink]="['/signup']" style="color: white;     font-weight: 600;">Register as a title company </a></button>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <h2 class="title">Awesome product</h2>
                <h5 class="description">Are you 
                        Selling, Buying or 
                        Refinancing Your Home? Don't be puzzled when shopping 
                        title insurance & closing services.
                        Get a FREE title insurance comparison
                        & detailed quote* in just minutes!</h5>
                <br>
                <!-- <a href="#paper-kit" class="btn btn-danger btn-round">See Details</a> -->
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-album-2"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Closing Agents</h4>
                        <p class="description">Onee profile, countless benefits, register now</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-bulb-63"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Consumers</h4>
                        <p>Leran about the home buying and sellingprocess and find the professionals you need along the way.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info">
                    <div class="icon icon-danger">
                        <i class="nc-icon nc-chart-bar-32"></i>
                    </div>
                    <div class="description">
                        <h4 class="info-title">Lenders</h4>
                        <p>Manage and grow your network, learn more now.</p>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Our Team</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAoXAAAAJDc2ODMzNmYyLWMwZGMtNGJiMC04MDE2LTZhN2ZmZDA2YTc1Nw.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Mo Choumil</h4>
                                <h6 class="card-category">Real Estate Title, Settlement, Closing & Escrow Leader</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                                Some catchy text
                        </p>
                    </div>
                    <div class="card-footer text-center">

                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAA2yAAAAJGJlNzc2ZGI0LTZkNzEtNDk3MS1hMWNjLThiNDgwMjBjODJhOQ.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Michael Meyers</h4>
                                <h6 class="card-category">Entrepreneur | Founder & CEO @ Tradeversity</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                                Some catchy text
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="../assets/img/faces/steve2.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Steve Rubin</h4>
                                <h6 class="card-category">Full Stack Developer </h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Some catchy text
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
