<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg'); ">
    <div class="container">
          <header class="jumbotron">
              <h2 class="text-center text-white header" >Compare Title Quotes Free</h2>
              <div class="row">
                  <div class="col-md-12 text-center block-buttons">
                      <a href="#" class="btn btn-neutral btn-lg">Purchase</a>
                      <a href="#" class="btn btn-neutral btn-lg">Refinance</a>
                  </div>
              </div>
          </header>
    </div>

</div>
<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg');">
    <div class="container button-block">
        <button type="button" class="btn btn-default btn-circle btn-xl active">1</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">2</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">3</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">4</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">5</button>
    </div>
    <div class="container">
        <header class="jumbotron">

            <h2 class="text-center text-white header">What is the property Address</h2>
            <form>
                <div class="form-group">
                    <label for="inputAddress" class="text-white">Address</label>
                    <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity" class="text-white">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputZip" class="text-white">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="col-md-12 text-center block-buttons">
                <button type="submit" class="btn btn-neutral btn-lg">Continue</button>
                </div>
            </form>
        </header>
    </div>
</div>
<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg');">
    <div class="container button-block">
        <button type="button" class="btn btn-default btn-circle btn-xl">1</button>
        <button type="button" class="btn btn-default btn-circle btn-xl active">2</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">3</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">4</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">5</button>
    </div>
    <div class="container">
        <header class="jumbotron">
            <form id="purchase-loan">
                <div class="form-group form-inline">
                    <label for="exampleInputPrice" ><p class="personal-form-labels">Purchase Price</p></label>
                    <input type="text" class="form-control" id="exampleInputPrice" placeholder="$$$">
                </div>
                <div class="form-group form-inline">
                    <label for="exampleInputLoan" class="personal-form-labels"><p class="personal-form-labels">Loan Amont</p></label>
                    <input type="text" class="form-control" id="exampleInputLoan" placeholder="$$$">
                </div>
                <div class="col-md-12 text-center block-buttons">
                    <button type="submit" class="btn btn-neutral btn-lg" id="second-button">Continue</button>
                </div>
            </form>
        </header>
    </div>
</div>
<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg');">
    <div class="container button-block">
        <button type="button" class="btn btn-default btn-circle btn-xl">1</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">2</button>
        <button type="button" class="btn btn-default btn-circle btn-xl active">3</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">4</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">5</button>
    </div>
    <div class="container">
        <header class="jumbotron">
            <form id="search-needels">
                <div class="form-group form-inline">
                    <label for="exampleInputPrice" ><p class="personal-form-labels">Search Needels</p></label>
                    <span class="custom-select-wrapper">
                        <select class="form-control input-lg" data-val="true" data-val-number="The field SearchNeeds must be a number."
                                data-val-required="Search Needs is a required field" id="SearchNeeds" name="SearchNeeds">
                            <option value="">Search Needs (required)</option>
                            <option value="1">Purchase, buyer getting a loan</option>
                            <option value="2">Purchase, buyer paying with cash</option>
                            <option value="3">Seller quote, buyer is getting a loan</option>
                            <option value="4">Seller quote, buyer is using cash</option>
                            <option value="5">Refinance</option>
                            <option value="6">Home Equity</option>
                        </select>
                    </span>
                </div>
                <div class="col-md-12 text-center block-buttons">
                    <button type="submit" class="btn btn-neutral btn-lg" >Continue</button>
                </div>
            </form>
        </header>
    </div>
</div>
<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg');">
    <div class="container button-block">
        <button type="button" class="btn btn-default btn-circle btn-xl">1</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">2</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">3</button>
        <button type="button" class="btn btn-default btn-circle btn-xl active">4</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">5</button>
    </div>
    <div class="container">
        <header class="jumbotron">
            <form id="search-needels">
                <div class="form-group form-inline">
                    <label for="exampleInputPrice" ><p class="personal-form-labels">Property type</p></label>
                    <span class="custom-select-wrapper">
                        <select class="form-control input-lg" data-val="true" data-val-number="The field SearchNeeds must be a number."
                                data-val-required="Search Needs is a required field" id="SearchNeeds" name="SearchNeeds">
                            <option value="">Search Needs (required)</option>
                            <option value="1">Purchase, buyer getting a loan</option>
                            <option value="2">Purchase, buyer paying with cash</option>
                            <option value="3">Seller quote, buyer is getting a loan</option>
                            <option value="4">Seller quote, buyer is using cash</option>
                            <option value="5">Refinance</option>
                            <option value="6">Home Equity</option>
                        </select>
                    </span>
                </div>
                <div class="col-md-12 text-center block-buttons">
                    <button type="submit" class="btn btn-neutral btn-lg" >Continue</button>
                </div>
            </form>
        </header>
    </div>
</div>
<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg');">
    <div class="container button-block">
        <button type="button" class="btn btn-default btn-circle btn-xl">1</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">2</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">3</button>
        <button type="button" class="btn btn-default btn-circle btn-xl">4</button>
        <button type="button" class="btn btn-default btn-circle btn-xl active">5</button>
    </div>
    <div class="container">
        <header class="jumbotron">
            <h2 class="text-center text-white header">Who is going to be living here?</h2>
            <form>
                <div class="form-group">
                    <span class="custom-select-wrapper">
                        <select class="form-control input-lg" data-val="true" data-val-number="The field SearchNeeds must be a number."
                                data-val-required="Search Needs is a required field" id="SearchNeeds" name="SearchNeeds">
                            <option value="">Search Needs (required)</option>
                            <option value="1">Purchase, buyer getting a loan</option>
                            <option value="2">Purchase, buyer paying with cash</option>
                            <option value="3">Seller quote, buyer is getting a loan</option>
                            <option value="4">Seller quote, buyer is using cash</option>
                            <option value="5">Refinance</option>
                            <option value="6">Home Equity</option>
                        </select>
                    </span>
                </div>
                <div class="col-md-12 text-center block-buttons">
                    <button type="submit" class="btn btn-neutral btn-lg">Continue</button>
                </div>
            </form>
        </header>
    </div>
</div>
<div class="page-header"  style="background-image: url('../assets/img/background_presentation.jpg');">
    <div class="container">
        <header class="jumbotron">
            <h2 class="text-center text-white header">Here are your offers ...</h2>
            <div class="container">
                <div class="row">
                    <table class="table">
                        <tbody>
                        <!-- content block -->
                        <tr>
                            <th><div class="card-avatar">
                                <a href="#avatar"><img src="../assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                            </div></th>
                            <td>American Title Company<br>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star-half" aria-hidden="true"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star-o" aria-hidden="true"></i><br>
                                </span>
                                <a href="#">Offer details</a>
                            </td>
                            <td class="align-middle">$1550</td>
                            <td><a href="#" class="btn btn-neutral btn-lg">Contact</a></td>
                        </tr>
                        <!-- content block end -->
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </header>
    </div>
</div>
