.header {
  margin-bottom: 30px;
}

.first-buttons a{
  margin: 20px;
}

.btn-lg {
  color: #F58847;
  background-color: #1A4173;
}
.btn-lg:hover {
  border-color: #F58847;
}

.rounded-circle {
  border-color: #1A4173;
  color: #F58847;
  background: rgba(41, 84, 146, 0.7);
  margin: 10px;
  width: 100px;
  height: 100px;
  font-size: large;
}

.rounded-circle:hover{
  background-color: grey;
}

.rounded-circle.active{
  border-color: white;
  border-width: 5px;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;

  transform: translate(-50%,-50%);
  background: rgba(41, 84, 146, 0.4);
  border-radius: 20px;
}

.circle-buttons-block {
  position: absolute;
  margin-top: 50px;
  top: 2%;
  left: 28%;
}


.input-group {
  margin: 20px auto;
  width: 100%;
}

.personal-form-labels {
  color: white;
  margin-right: 80px;
  font-size: 35px;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 100 !important;
}

.card-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 2%;
  border: 1px solid rgba(0,0,30,0.8);
}

.table {
  color: white;
}


.form-inline {
  display: table-row;
}

.form-inline label, .form-inline input {
  display: table-cell;
  margin: 0 0 5px 10px;
}

.form-inline label, .form-inline select {
  display: table-cell;
  margin: 0 0 10px 10px;
}

#purchase-loan {
  padding: 30px;
}

#second-button {
  margin-top: 30px;
}

.container-test{
  text-align: center !important;
}

.jumbotron-test {
  position: relative;
  top: 50%;
  display: inline-block;
  margin-top: 25%;
  /*transform: translate(-50%,-50%);*/
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}
