

/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: #6441A5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
}

body {
    font-family: montserrat, arial, verdana;
    background: transparent;
}
.fa-color {
    color: #2a5797;
}

.custom-form {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-avatar img {
    width: 150px;
    height: 100px;
    border-radius: 2%;
    border: 1px solid rgba(0,0,30,0.8);
}

#highForm{
    margin-bottom: 30px;
}

/*form styles*/
#msform {
    text-align: center;
    margin-top: 25vh;
    width: 90%;
    top: 26%;
    padding-left: 10%;
    height: 100%;
    padding-top: 18vh;
}

.logo
{
    position: fixed;
    max-width: 17em;
    top: 11%;
    min-width: 13em;
    width: 40%;
    --widthA: 48%;
    left: calc(var(--widthA) - 10%);
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;

    max-height: 70%;
    overflow: auto;
    &::-webkit-scrollbar
    {
        width: 6px;
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar-thumb
    {
        cursor: pointer !important;

        border-radius: 10px;
        background: #2a5797;
    }
}

#contactForm {
    background: white;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}


/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*inputs*/
#msform input, #msform select {
    padding: 15px;
    border: 0 solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: ubuntu-medium;
    color: #2C3E50;
    font-size: 18px;
    background-color: #eaedf2;
    font-weight: normal;
    height: 50px;

    &.ng-touched.ng-invalid{
        border-color: red;
    }
}

#msform input:focus, #msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #2a5797;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
    width: 150px;
    background: #f67b34;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
    font-family: ubuntu-medium;
}

#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #f67b34;
}

#msform .action-button-previous {
    width: 100px;
    background: #C5C5F1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/
.fs-title {
    font-size: 24px;
    text-transform: uppercase;
    background-color: #47617f;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: ubuntu-medium;
    padding-top: 38px;
    padding-bottom: 60px;
    height: 30%;
}
.fs-output {
    padding: 10px;
    font-size: 18px;
    text-transform: none;
}

.fs-subtitle {
    font-weight: bold;
    font-size: 21px;
    font-family: ubuntu-medium;
    color: #101818;
    margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 18px;
    width: 33%;  /*denepnda on points*/
    float: left;
    position: relative;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: ubuntu-medium;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 45px;
    height: 45px;
    line-height: 44px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #eaedf2;
    color: #f67b34;
}

#progressbar li.activated:before, #progressbar li.activated:after {
    background: #f67b34;
    color: white;
}

#progressbar li.non-active:before, #progressbar li.non-active:after {
    background: #eaedf2;
    color: #26508d;
}

#progressbar li.active {
    color: #f67b34;
}


/* Not relevant to this form */
.dme_link {
    margin-top: 30px;
    text-align: center;
}
.dme_link a {
    background: #FFF;
    font-weight: bold;
    color: #ee0979;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px 25px;
    font-size: 12px;
}

.dme_link a:hover, .dme_link a:focus {
    background: #C5C5F1;
    text-decoration: none;
}

.form-group{
    .error-msg{
        text-align: left;
        display: none;
        color: #ff0000;
        font-size: 0.9em;
        padding: 0 0 1em 0;
        font-weight: 500;
    }
    &.has-error{
        input, select{
            border: 1px solid #ff0000 !important;
        }
        .error-msg{
            display: block;
        }
    }
}

input[disabled]{
    opacity:0.7 !important;
    pointer-events: none !important;
}

.select-form {
    padding-top: 10vh;
    padding-left: 15vw;
    padding-right: 15vw;
    height: 70%;
}

.result-form {
    padding-top: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 70%;
}

.progressbar-div {
    position: absolute;
    top: 100px;
    width: 100%;
}

@media (max-width: 500px) {
    .form-check-label {
        padding-left: 10px;
    }
    .table td, .table th {
        padding: 0;
    }
}
 @media (min-width: 575.98px) and (max-width: 1699.98px) {
    .page-header {
    background-image: url('../../assets/img/diverse_couple.jpg');
    background-position-y: -25vh;
    background-repeat: no-repeat;
    background-size: auto 125vh;
    }
}
@media (min-width: 1700px) {
    .page-header {
        background-image: url('../../assets/img/diverse_couple.jpg');
        background-position-y: -27vh;
        background-repeat: no-repeat;

    }
 }
