.header {
  margin-bottom: 30px;
}

.btn-lg {
  margin: 20px;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}


.input-group {
  margin: 20px auto;
  width: 100%;
}

.personal-form-labels {
  color: white;
  margin-right: 80px;
  font-size: 35px;
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  font-weight: 100 !important;
}

.card-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 2%;
  border: 1px solid rgba(0,0,30,0.8);
}

.table {
  color: white;
}

.table tr {
  border-color: red !important;
}




.form-inline {
  display: table-row;
}

.form-inline label, .form-inline input {
  display: table-cell;
  margin: 0 0 5px 10px;
}

#purchase-loan {
  padding: 30px;
}

#second-button {
  margin-top: 30px;
}