
<div class="page-header">
    <!-- MultiStep Form -->

         <div class="row" style="height: 100vh">
            <div class=" col-xs-12" style="height: 100%">
                <form id="msform" [formGroup]="actionUserForm">
                    <!-- fieldsets -->
                    <fieldset>
                        <div class="progressbar-div" *ngIf="!contactForm">
                            <ul id="progressbar">
                                <li class="active">Property info</li>
                                <li class="non-active">Sales and loan amount</li>
                                <li class="non-active">Your offers</li>
                            </ul>
                        </div>
                        <h2 class="fs-title">Compare Title Quotes Free</h2>
                        <div class="select-form">
                            <input type="button" name="next" class="next action-button" (click)="setType('Purchase')" value="Purchase" />
                            <input type="button" name="next" class="next action-button" (click)="setType('Refinance')" value="Refinance" />
                        </div>
                    </fieldset>
                    <fieldset id="highForm">
                        <div class="progressbar-div" *ngIf="!contactForm">
                            <ul id="progressbar">
                                <li class="activated">Property info</li>
                                <li class="active">Sales and loan amount</li>
                                <li class="non-active">Your offers</li>
                            </ul>
                        </div>
                        <h2 class="fs-title">What is the property Address and Title's Regrads?</h2>
                        <div class="select-form">
                            <h3 class="fs-subtitle d-none d-sm-block">Property you are buying, selling or refinancing:</h3>
                            <div class="form-group" [ngClass]="{'has-error': isControlInvalid('price')}">
                                <input type="text" formControlName="price" id="price" placeholder="Purchase Price*"/>
                                <div class="error-msg" *ngIf="isControlInvalid('price')">This field is required</div>
                            </div>
                            <div class="form-group" [ngClass]="{'has-error': isControlInvalid('loanAmount')}">
                                <input type="text" formControlName="loanAmount" id="loanAmount" placeholder="Loan Amount*"/>
                                <div class="error-msg" *ngIf="isControlInvalid('loanAmount')">This field is required</div>
                            </div>
                            <div class="form-group">
                                <select formControlName="state" id="state" class="form-control custom-form">
                                    <option *ngFor="let state of states" [value]="state">{{state}}</option>
                                </select>
                                <div class="error-msg">This field is required</div>
                            </div>
                            <input type="button" name="previous" class="previous action-button-previous" value="Back"/>
                            <input type="button" name="next" class="next action-button" (click)="calculateTotals()" [disabled]="isControlInvalid('price') || isControlInvalid('loanAmount') || isControlInvalid('zip')" value="Next"/>
                        </div>
                    </fieldset>
                    <!--
                    <fieldset>
                        <h2 class="fs-title">We just need to know:</h2>
                        <h3 class="fs-subtitle">My title needs are in regards to a:</h3>
                        <input type="text" name="purchase_price" placeholder="Purchase Price"/>
                        <input type="text" name="loan_amount" placeholder="Loan Amont"/>
                        <select class="form-control custom-form">
                            <option value="none">Search Needs</option>
                            <option value="two">Purchase, buyer getting a loan</option>
                            <option value="three">Purchase, buyer paying with cash</option>
                            <option value="four">Seller quote, buyer is getting a loan</option>
                            <option value="five">Seller quote, buyer is using cash</option>
                            <option value="four">Refinance</option>
                            <option value="five">Home Equity</option>
                        </select>
                        <select class="form-control custom-form">
                            <option value="none">Property type</option>
                            <option value="one">Single Family</option>
                            <option value="two">Condo</option>
                            <option value="three">2 Family</option>
                            <option value="four">3 Family</option>
                            <option value="five">4 Family</option>
                        </select>
                        <select class="form-control custom-form">
                            <option value="none">Who is going to be living here?</option>
                            <option value="two">The buyer as their primary residence</option>
                            <option value="three">The buyer as their secondary residence</option>
                            <option value="four">Someone else (not a buyer)</option>
                            <option value="five">I don't know</option>
                        </select>
                        <input type="button" name="previous" class="previous action-button-previous" value="Back"/>
                        <input type="button" name="next" class="next action-button" value="Next"/>
                    </fieldset>
                    -->
                    <fieldset *ngIf="!contactForm">
                        <div class="progressbar-div" *ngIf="!contactForm">
                            <ul id="progressbar">
                                <li class="activated">Property info</li>
                                <li class="activated">Sales and loan amount</li>
                                <li class="active">Your offers</li>
                            </ul>
                        </div>
                        <h2 class="fs-title">Here are your offers</h2>
                        <div class="result-form">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <table class="table">
                                            <tbody>
                                            <!-- content block -->
                                            <tr *ngFor="let company of accounts; let i = index">
                                                <th class="align-middle hidden-xs">
                                                    <div class="card-avatar d-none d-md-block">
                                                        <a href="#avatar" *ngIf="company.data"><img [src]="company.data.image ? company.data.image : 'assets/img/default-user.png'" alt="..."></a>
                                                    </div>
                                                </th>
                                                <td>{{company.title}}<br>
                                                    <star-rating-comp [starType]="'svg'" [readOnly]="true" [rating]="company.rating"></star-rating-comp>
                                                    <a href="#">Website</a>
                                                </td>
                                                <td class="align-middle">{{company.total_price | currency:'USD':'symbol'}}</td>
                                                <td class="align-middle">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="button" name="next" class="action-button d-none d-sm-block" value="Contact" (click)="selectCompany(company.email, company.title, company.address, company.website, company.phone)"/>
                                                            <i class="fa fa-phone fa-3x  fa-color d-block d-sm-none" (click)="selectCompany(company.email, company.title)"></i>
                                                        </label>
                                                        <ng-template #popContent>
                                                            Title Insurance: ${{company.totalInfo?.title_insurance}} <br>
                                                            Title Company Fees: ${{company.totalInfo?.companyFee}}<br>
                                                            Government Fees : ${{company.totalInfo?.government_fee}}<br></ng-template>
                                                        <label class="form-check-label">
                                                            <input type="button" class="btn btn-outline-secondary d-none d-sm-block multi_lines_text" placement="left"
                                                                    [ngbPopover]="popContent"
                                                                   popoverTitle="Price details" value="See details"/>
                                                        </label>
                                                    </div>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                    </div>
                            </div>
                        </div>
                    </div>
                        <!--
                        <input type="button" name="previous" class="previous action-button-previous" value="Back"/>
                        <input type="button" name="next" class="next action-button" value="Get Contacts"/>
                        -->
                    </fieldset>
                    <div id="contactForm" *ngIf="contactForm" [@contact]>
                        <div class="fs-title">
                                <h2 class="fs-title" style="padding-top: 0px; padding-bottom: 0px;">Contact Information</h2>
                                <h4 class="fs-output">We are going to send your information to: {{selectedCompanyTitle}}, {{selectedCompanyPhone}}, {{selectedCompanyAddress}}, {{selectedCompanyWebsite}}</h4>
                        </div>
                        
                        <h3 class="fs-subtitle">Tell us more about you</h3>
                        <div class="form-group" [ngClass]="{'has-error': isControlInvalid('firstName')}">
                            <input formControlName="firstName" id="firstName" type="text" placeholder="First Name*"/>
                            <div class="error-msg">This field is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': isControlInvalid('lastName')}">
                            <input formControlName="lastName" id="lastName" type="text" placeholder="Last Name*"/>
                            <div class="error-msg">This field is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': isControlInvalid('email')}">
                            <input formControlName="email" id="email" type="text" placeholder="Email*"/>
                            <div class="error-msg">This field is required</div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error': isControlInvalid('phone')}">
                            <input formControlName="phone" id="phone" type="text" placeholder="Phone*"/>
                            <div class="error-msg">This field is required</div>
                        </div>
                        <input type="button" name="next" class="action-button" value="Get In Touch" (click)="send()"/>
                    </div>
                </form>
            </div>
        </div>
</div>

  


