<div class="wrapper">
    <div class="page-header" style="background-image: url('assets/img/background.jpg');">
        <div class="filter"></div>
            <div class="container">
                <div class="row">

                    <div class="col-lg-7 d-lg-block d-none video-column">
                        <h3 class="video-title">Learn About Quoteli?</h3>
                        <div class="video-wrapper">
                            <iframe src="https://www.youtube.com/embed/W1woCkEXGcc?rel=0&amp;controls=0&amp;showinfo=0"
                                    frameborder="0"
                                    allow="autoplay; encrypted-media"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4 signup-form-column">
                        <div class="card card-register" style="background-color: white; color: #264C82;">
                            <h4 class="title">Ready For Your Free Leads? Sign up now!</h4>
                            <div class="alert alert-warning" role="alert" *ngIf="errorMessage">
                                <p>{{errorMessage}}</p>
                            </div>

                            <div class="register-form">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control sign-up-control"
                                       placeholder="Email"
                                       name="email"
                                       [(ngModel)]="email"
                                       required>

                                <label for="password">Password</label>
                                <input  type="password" class="form-control sign-up-control"
                                       placeholder="Password"
                                       name="password"
                                       [(ngModel)]="password"
                                       required>


                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" class="form-control sign-up-control"
                                        placeholder="Confirm Password"
                                        name="confirmPassword"
                                        [(ngModel)]="confirmPassword"
                                        required>


                                <div class="alert alert-danger" *ngIf="this.password != this.confirmPassword">Passwords don't match</div>
                                <button class="btn btn-danger btn-block btn-round" (click)="onRegister()">Sign up</button>
                            </div>

                            <div class="forgot">
                                <a [routerLink]="['/reset-password']" class="btn btn-link btn-danger" style="color: #264C82;">Forgot password?</a>
                            </div>
                            <div class="forgot">
                                <a [routerLink]="['/login']" class="btn btn-link btn-danger" style="color: #264C82;">Already Registered?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Melting Pot Solutions </h6>
                </div>
            </div>
    </div>
</div>
