    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-translate">
                <div class="row" style="text-align: center" >
                    <a (click)="homeClicked()" [ngClass]="{'nonActive': !onLogin}">
                        <img src="assets/img/Quoteli_logo_RGB.png" class="logo" alt="">
                    </a>
                        
                   </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation() && !authService.isAuthenticated()">
                    <a [routerLink]="['/login']" class="nav-link"><img src="assets/img/icon_login.png"> Log in</a>
                </li>

                <!-- <li class="nav-item" *ngIf="isHome()">
                    <a href="https://www.creative-tim.com/product/paper-kit-2-pro?ref=pk2-free-local" target="_blank" class="btn btn-danger btn-round disabled">Upgrade to Pro</a>
                </li> -->
                <li class="nav-item" *ngIf="!isHome() && !authService.isAuthenticated()">
                    <a [routerLink]="['/signup']"  class="nav-link"><img src="assets/img/icon_register.png"> Register as a company</a>
                    <!-- <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a> -->
                </li>
                <ng-template [ngIf]="authService.isAuthenticated()">
                    <li class="nav-item">
                        <a [routerLink]="['/user-profile']"  class="nav-link"><i class="nc-icon nc-circle-10"></i>Profile</a>
                        <!-- <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a> -->
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/landing']" (click)="onLogout()"  class="nav-link"><i class="nc-icon nc-button-power"></i>Logout</a>
                        <!-- <a [routerLink]="['/home']" *ngIf="isDocumentation()" class="nav-link">Back to Kit</a> -->
                    </li>
                </ng-template>
                <li class="nav-item" *ngIf="isDocumentation()">
                    <a href="https://github.com/creativetimofficial/pk-free-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
