.logo{
    position: relative;
    height: 190px;
    width: 240px;
}

a{
  cursor: pointer;
}

a.nonActive{
  cursor: default;
}

@media(max-width:1300px){
  .logo{
    position: relative;
    height: 150px;
    width: 190px;
  }
}

@media(max-width:800px){
  .logo{
    display: none;
  }
}

.navbar.navbar-transparent {
    padding-top: 0;
}

.navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn) {
    color: #f67b33;
    font-family: ubuntu-medium;
    letter-spacing: 0.1em;
    font-size: 1.2em;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #f67b33;
  font-family: ubuntu-medium;
  letter-spacing: 0.2em;
}