<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <p rel="tooltip" title="www.quoteli.com" data-placement="bottom">www.quoteli.com</p>
            </div>
            <div class="col">
                <p rel="tooltip" title="2018 Quoteli Inc | All Rights Reserved" data-placement="bottom">2018 Quoteli Inc | All Rights Reserved</p>
            </div>
            <div class="col">
                <p><span>We Respect </span><a data-placement="bottom" href="#" target="_blank">Your Privacy</a></p>
            </div>
        </div>
    </div>
</footer>
