.footer {
  height: 325px;
  background-color: #595d67;
  padding-top: 150px;

  p, span, a {
    color: #d3d3d4;
    font-size: 18px;
    font-family: ubuntu-light;
  }

  a {
    text-decoration: underline;
  }
}
